{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="user_delete">
        Уверены, что хотите {% if object_to_reset.is_active %}Удалить{% else %}
        Восстановить{% endif %}{{ object_to_reset.username }}
        ({% if object_to_reset.first_name %}
            {{ object_to_reset.first_name|title }}
        {% if object_to_reset.last_name %}
            {{ object_to_reset.last_name|title }}
        {% endif %}
        {% endif %})
        ?
        <form action="
            {% if object_to_reset.is_active %}
                {% url 'adminapp:user_delete' object_to_reset.pk %}
            {% else %}
                {% url 'adminapp:user_reset' object_to_reset.pk %}
            {% endif %}
        " method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit"
                   value="{% if object_to_reset.is_active %}Удалить{% else %}Восстановить{% endif %}">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'adminapp:users' %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock %}