{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block menu %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_main_menu.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="details">
        <div class="links clearfix">
            {% include 'mainapp/includes/inc_categories_menu.html' %}
        </div>

        <div class="products_list">
            <div class="title clearfix">
                <h2>
                    Категория: "{{ category.name|title }}"
                </h2>
            </div>
            <div class="category-products clearfix">

                {% for object in object_list %}
                    <div class="block">
                        <a href="{% url 'products:product' object.pk %}">
                            <img src="{{ object.image|media_folder_products }}" alt="product" class="tab-img">
                            <div class="text">
                                <img src="{% static 'img/icon-hover.png' %}" alt="hover">
                                <h4>{{ object.name }}</h4>
                                <p>{{ object.description }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="page-btn">
            {% if page_obj.has_previous %}
                <a href="{% url 'mainapp:categories' category.pk %}?page={{ page_obj.previous_page_number }}">
                    <<
                </a>
            {% endif %}
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
                <a href="{% url 'mainapp:categories' category.pk %}?page={{ page_obj.next_page_number }}">
                    >>
                </a>
            {% endif %}
        </div>

    </div>

    <div class="clr"></div>

{% endblock %}